@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
* {
    /* outline: 1px solid #f00 !important; */
  }

:root{
    --light-blue: rgba(0, 136, 207, 1);
    --dark-blue: rgba(36,48,94,1);
    --yellow: #e5c137;
    --bg-light-blue: #a8d0e6;
    --bg-dark-blue: rgba(55,71,133,1);
    --grey: #999999;
}
body{
    width: 100%;
}

@keyframes envelope-move {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
    
}

.border-50{
    border-radius: 50%;
    border:1px solid black;
    padding: .8rem;
}
section{
    padding: 2rem 4rem;
    text-align: center;
}
section h1{
    font-size: 2.5rem;
    padding-bottom: 2rem;
    color: var(--dark-blue);
    /* color: rgb(22, 22, 22); */
    font-weight: 500;
}
section h1 span{
    position: relative;
    font-weight: 700;
}
section h1 span::before {
    position: absolute;
    content: '';
    background: #e4d50a;
    width: 100%;
    height: 10%;
    /* clip-path: polygon(0 0, 0); */
    margin: 0 auto;
    top: 80%;
    z-index: -5;
}
.section-pic{
    position: relative;
    /* display: inline-block; */
}
.section-pic::before{
    content: "";
    /* background-color: rgb(148, 158, 206); */
    position: absolute;
    width: 100%;height: 100%;
    top: -20px;left: -20px;
    border: 3px dashed  var(--dark-blue);
    border-radius: 13px;
    z-index: -99;
}

.info-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    line-height: 1.8;
    font-size: 1.1rem;
    /* height: 40vh; */
    /* background: #f1f1f1; */
}
/* top header  */
.top-header{
display: flex;
width:100%;
flex-wrap: wrap;
align-items: center;
text-align: center;
justify-content: center;
background:#fff;
padding: 0 2rem;
}

.header-col-text a, .header-col-text h2{
    font-size: 1.25rem;
    color: var(--dark-blue);
    text-decoration: none;
}
.header-col-text h3{
    font-size: 0.9rem;
    color: var(--light-blue);
    /* color: var(--grey); */
}
.logo{
    flex:1;
    flex-basis: 300px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--dark-blue);
}
.header-col{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    text-align: left;
    padding: .5rem;;
    color: var(--dark-blue);
    /* background-color: yellow; */
}
@media screen and (max-width:400px) {
    .header-col-text a, .header-col-text h2{
        font-size: 1rem;
        color: var(--dark-blue);
        text-decoration: none;
    }
}

/* Add a black background color to the top navigation */
.nav {
    background-color: var(--dark-blue);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all .5s ease-in;
  }
  h2,h3,h4{
      color: var(--dark-blue);
  }
  /* Style the links inside the navigation bar */
  .nav a {
      text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: .85rem;
    font-weight: 600;
  }
  .nav a:hover{
      background-color: #fff;
      color: var(--light-blue);
  }
  /* Add an active class to highlight the current page */
   a.active{
    background-color: #fff;
    color: var(--light-blue);
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .nav .icon {
    display: none;
  }
  
  .header-wrapper{
      position: sticky;
      top: 0;left: 0;right: 0;
      z-index: 1000;
  }
  .hamburger{
    display: none;
    /* background: rgb(119, 12, 12); */
    font-size: 1.5rem;
    text-align: right;
    cursor: pointer;
}
.nav .fa-times{
    display: none;
    padding: 1rem ;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}
  @media screen and (max-width: 1010px) {
      .hamburger{
           display: initial; 
          position: absolute;
          /* left:300px; */
          top: 0;left: 20px;
      } 
      .nav .fa-times{
       display: initial;
}
      .nav{
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          /* top: 0; */
          left: -250px;
          width: 200px;
          background: var(--dark-blue);
      }
      .logo{
          flex-basis: 100%;
      }
      .header-col{
        flex-basis: 100%;
        justify-content: flex-start;
    }
    .top-header{
        padding: 0;
    }
  }


@media screen and (max-width:700px) {
    section{
        padding: 2rem 1rem;
        text-align: center;
    }
    
}

  /* hero section  */

  .hero{
      width: 100%;
      height: 70vh;
      background-color: rgba(31, 31, 167, 0.822);
  }
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
  .about-row{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      flex-wrap: wrap;
  }
.about-photo{
    /* flex:1; */
    flex-basis: 45%;
}
.about-text{
    /* flex: 1; */
    flex-basis: 45%;
    text-align: left;
}
.about-text h2{
    font-size: 1.8rem;
}
.about-text p{
    padding-top: 2rem;
    font-weight: 600;
    color: rgb(73, 73, 73)
}
.about-row img{
     width: 100%;
     object-fit: cover;
     height: 100%;
     border-radius: 13px;
  }
  .about-row img:hover{
      transform: scale(1.02);
  }
@media screen and (max-width:900px) {
    .about-photo{
        /* flex:1; */
        flex-basis: 100%;
    }
    .about-text{
        /* flex: 1; */
        flex-basis: 100%;
    }
}
  /* services section  */
.service-section{
    background:#f1f1f1;
}
.service{
    /* display: grid;
    color: var(--dark-blue);
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: max-content;
    grid-gap: 1rem; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
}
.service-col{
    /* text-align: left; */
    padding: 1.5rem;
    margin: 0 1rem;
    /* border: 2px solid red; */
    background: #fff;
    border-radius: 18px;
    flex:1;
    margin-bottom: 1rem;
    flex-basis: 22%;
    box-shadow: 0px 0 12px 0px rgba(173, 175, 38, 0.4);
}
.service-col .fas{
    color: #dbb417;
    color: rgb(201, 176, 37);
    color: var(--light-blue);
    transition: all .4s;
    font-size: 2.5rem;
    padding-bottom: 20px;
}
.service-col:hover .fas{
    transform: scale(1.2) rotate(-10deg);
   
}

.right-service{
    /* text-align: left; */
}
.right-service h2{
    
    padding-bottom: 10px;
}


/* service section ends  */

/* rating sectuon starts  */
.rating{
    position: relative;
    /* background: #e5c137; */
    background: var(--bg-light-blue);
    /* opacity: .5; */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,.1)), url('./images/testi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: #fff; 
}
.rating h1{
    color: #fff;
}
.rating-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.rating__counter{
    /* display: flex; */
    flex-direction: column;
    /* flex: 1; */
    flex-basis: 45%;
    /* flex-basis: 42%; */
    margin-bottom: 1rem;
}
.counters{
    padding: 2rem;
    margin: 7%;
    background: rgb(194, 191, 191);
    border-radius: 10px;
    /* flex-basis: 300px; */
   
}
.counters h2,.counters h3{
    /* color: var(--bg-light-blue); */
}
.rating__consult{
    /* flex: 1; */
    flex-basis: 45%;
}
.rating__consult span{
    position: relative;
}
.rating__consult h1 span::after{
    content: 'GET FREE LEGAL';
    position: absolute;
    /* display: block; */
    top: -10px;
    left: 0;
    font-size: .9rem;
color: #fff;
    /* background-color: pink; */
}
.rating__consult .btn{
    padding: 1rem 2rem;
        text-decoration: none;
        color:var(--dark-blue);
        font-weight: 700;
        background-color: var(--yellow);
        font-size: larger;
    border-radius: 15px;
}
.rating__consult .btn:hover{
    background: none;
    border: 2px solid var(--yellow);
    color: #fff;
}
@media screen and (max-width:900px){
    /* .rating__counter > div{
        flex-basis: 100%;
        font-size: .8rem;
    } */
    .rating__counter{
        flex-direction: column;
    }
}
/* rating section ends...  */

/* testimonials section  */
.testimonials{
    width: 100%;
    position: relative;
    
    /* border: 3px solid blue; */

}

.testimonials-wrapper{
    display: grid;
    /* display: flex; */
    width: 100%;
    /* border: 2px solid green; */
    grid-template-columns: repeat(auto-fit,minmax(330px,1fr));
    grid-auto-rows: max-content;
    justify-content: center;
    /* align-content: center; */
    grid-gap: 3rem;
}
.testimonials-text{
    padding-top: 2rem ;
    font-size: 1.2rem;
    /* background: var(--bg-light-blue); */
    /* text-align: left; */
}
.testimonials-text h1{
    font-size: 2rem;
}
.testimonials-text p{
    padding: 2rem;
    text-align: left;
}


.fa-user, .fa-user-tie{
    font-size: 3rem;
    width: 80px;
    border-radius:50% ;
    background: var(--bg-light-blue);
    color: var(--light-blue);
    padding: 1rem;
    margin: 1rem ;
}
.clients{
    /* height: 70vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background: var(--bg-light-blue); */
}
.client-text{
    padding: 1rem 0;
    position: relative;
    text-align: left;
    line-height: 1.8;
    font-weight: 600;
}
.fa-quote-left{
    font-size: 2rem;
    padding-right:1rem ; 
 position: absolute;
    left: -30px;
    top: -20px;
    color: var(--dark-blue);
    /* margin-right: auto; */
}
.fa-quote-right{
    font-size: 2rem;
    position: absolute;
    right: -10px;
    color: var(--dark-blue);
    /* padding-left: 1rem; */
}
.stars{
    padding-bottom: 1rem;
    color: rgb(212, 212, 17);
    color: var(--yellow);
}

.hide{
  display: none;
}

@media screen and (max-width:900px){

}
/* .testimonials section ends  */


/* quote section starts  */

.quote{
    background-color: var(--yellow);
    /* width: 100%; */
}
.quote h1{
    font-size: 1.5rem;
}
.quote-wrapper{
    width: 90%;
    margin: auto;
    background-color: var(--yellow);
}
.quote form{
    display: flex;
    flex-direction: column;
}
.quote form input{
    padding: .7rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    border: none;
    margin: .8rem auto;
    width: 80%;
}

.quote .btn{
    padding: 10px 18px;
        text-decoration: none;
        color:#000;
        background-color: var(--dark-blue);
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
    border-radius: 10px;
    width: 50%;
    margin: .8rem auto;
}
@media screen and (max-width:800px) {
    .quote form input{
        width: 90%;
    }
    .quote{
        width: 100%;
    }
}
/* quote section ends  */
/* new letter  */
.newsletter form input{
    padding: .7rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    border: 2px solid var(--yellow);
    margin: .8rem auto;
    width: 50%;
}

.newsletter .btn{
    padding: .7rem 1rem;
    text-decoration: none;
    border-radius: 8px;
    width: 50%;
    margin: .8rem auto;
    background-color: var(--dark-blue);
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
}
/* footer section  */
.footer{
    background: var(--bg-dark-blue);
    color: white;
}
.footer h2{
    color: #fff;
}
.footer-wrapper{
    font-weight: 600;
    text-align: left;
    /* color: white; */
    display: grid;
    font-size: .9rem;
    text-transform: capitalize;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-rows: max-content;
    grid-gap: 1rem;
    /* background-color: rgb(229, 145, 145); */
}
.footer a{
    text-decoration: none;
    color: #fff;
}
.footer-services ul{
list-style-type: none;
}
.fa-check{
    padding:.8rem;
}
.footer-links{
    /* background: blue; */
}
.footer-wrapper h2{
    padding: 1rem
}
.credit{
    background: var(--dark-blue);
    padding:2rem 0  ;
    font-weight: 700;
    color: #fff;
    font-size: 1.2rem;
    /* margin: auto; */
    text-align: center;
    text-transform: capitalize;
}

/* footer ends  */
/* modal  */
.modal{
    
    /* transition: all 1s ease-in; */
}
#quote-container{
    padding: .5rem 2rem;
    /* height: 50%; */
    display: none;
    position: fixed;
    z-index:999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.close{
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.envelope-container{
    display: inline-block;
    cursor: pointer;
    position: fixed;
    /* top: 200px; */
    top: 50%;right: 20px;
    /* background: pink; */
    transform: translateY(-50%);
    z-index: 999;
}
.envelope{
    font-size: 3rem;
    background: var(--yellow);
    padding: 1.3rem;
    color: #fff;
    border-radius: 50%;
    /* transition: all 1s linear; */
    animation: envelope-move 3s infinite;
    /* position: relative; */
}
